.main-div mat-card{
    padding: 0px;
    text-align: center;
}
       
.login-form
{
    padding: 20px;
    text-align: center;
}
.text-center
{
    padding: 10px;
}
.mat-toolbar{
    text-align: center;
}